@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #000000;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

#track-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  background: transparent;
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.track-info {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}

.track-title {
  font-size: 3em;
  color: #FFFFFF;
}

.artist-name {
  font-size: 2em;
  color: #FFFFFF;
  margin-top: 0.5em;
  font-weight: bold;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; /* Разделяем пространство равномерно */
  position: absolute;
  top: 35%; /* Регулируем положение по оси Y для центрирования */
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px; /* Устанавливаем высоту контейнера */
}

.info-container {
  margin-bottom: 20px;
}

.info-icon {
  font-size: 48px;
  color: #fff;
  cursor: pointer;
}

.play-container {
  z-index: 1;
}

.play-icon {
  font-size: 192px;
  color: #fff;
  cursor: pointer;
}

.info-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  z-index: 1000;
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
}
