@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #000000; /* Устанавливаем черный фон */
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

#track-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  top: 10%; /* Позиционируем трек сверху */
  left: 50%;
  transform: translateX(-50%); /* Центрируем контейнер */
}

.track-info {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto; /* Центрируем текст */
}

.track-title {
  font-size: 3em;
  color: #FFFFFF;
}

.artist-name {
  font-size: 2em;
  color: #FFFFFF;
  margin-top: 0.5em;
  font-weight: bold;
}

.play-container {
  z-index: 1;
  position: absolute;
  top: 50%; /* Позиционируем кнопку в центре */
  left: 50%;
  transform: translate(-50%, -50%); /* Центрируем контейнер по оси X и Y */
}

.play-icon {
  font-size: 192px;
  color: #fff;
  cursor: pointer;
}
