.App {
  text-align: center;
  background-color: #1c1c1c;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.App-header {
  font-size: 2em;
  margin-bottom: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #282c34;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #61dafb;
}
